# dependencies
*node_modules/
/package-lock.json

# testing
/coverage

# production
*/build/

# misc
*.DS_STORE
.idea/*
.env

# logs
logs/
*.log*

# pids
*.pid

# docker volumes
/logs/*
/signal_data/*

# blackbox
/keyrings/live/pubring.gpg~
/keyrings/live/pubring.kbx~
/keyrings/live/secring.gpg
/.env
/app/db/seeders/20190125203925-testing-channels.js
/.vscode/settings.json
/bin/get-machine
/ansible/files/deploy_keys/signalboost_gpg_privkey.asc
/ansible/files/deploy_keys/signalboost_ssh_key
/ansible/files/deploy_keys/signalboost_ssh_key.pub
/ansible/inventory.tmpl
