# dependencies
*node_modules/
/package-lock.json

# testing
/coverage

# production
*/build/

# misc
*.DS_STORE

# logs
*.log*
*.err*

# pids
*.pid

# docker volumes
/logs/*
/signal_data/*

# ansible
*retry
*/inventory


# text editors
.idea/*
/.vscode/settings.json

# signal keystore
signal_data

# blackbox
/keyrings/live/pubring.gpg~
/keyrings/live/pubring.kbx~
/keyrings/live/secring.gpg
/.env
/bin/get-machine
/ansible/files/deploy_keys/signalboost_gpg_privkey.asc
/ansible/files/deploy_keys/signalboost_ssh_key
/ansible/files/deploy_keys/signalboost_ssh_key.pub
/ansible/inventory.tmpl
/splash/ansible/inventory.tmpl
/splash/.env
/splash/ansible/inventory
