# dependencies
*node_modules/
/package-lock.json

# testing
/coverage

# production
*/build/

# misc
*.DS_STORE

# logs
*.log*
*.err*

# pids
*.pid

# docker volumes
/logs/*
/signal_data/*

# ansible
*retry
*/inventory


# text editors
.idea/*
/.vscode/settings.json

# signal keystore
signal_data

# prometheus/grafana data volumes
prometheus_data
grafana_data

# blackbox
/keyrings/live/pubring.gpg~
/keyrings/live/pubring.kbx~
/keyrings/live/secring.gpg
/.env
/bin/get-machine
/ansible/files/deploy_keys/signalboost_gpg_privkey.asc
/ansible/inventory.tmpl
/splash/ansible/inventory.tmpl
/splash/.env
/splash/ansible/inventory
/ansible/files/deploy_keys/.ssh/id_sb_deploy
/ansible/files/deploy_keys/.ssh/id_sb_deploy.pub
/ansible/files/deploy_keys/.ssh/config
/ansible/files/deploy_keys/.ssh/known_hosts
/.env.dev
/.env.pentest
/.env.metrics
/grafana/config/grafana.ini
/prometheus/prometheus_dev.yml
/prometheus/prometheus_prod.yml
