<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>

        <!-- pattern to show timestamp, classname, log level and logged message -->
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%logger{24}] %-5level | %msg%n</pattern>
        </encoder>
<!--        &lt;!&ndash; pattern to show threads alongside other log details &ndash;&gt;-->
<!--         <encoder>-->
<!--             <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%logger{24}] %-5level | (%thread\) %msg%n</pattern>-->
<!--         </encoder>-->

    </appender>

    <root level="INFO">
        <appender-ref ref="stdout" />
    </root>

    <logger name="info.signalboost" level="${LOG_LEVEL}" additivity="false">
        <appender-ref ref="stdout" />
    </logger>

    <logger name="io.netty" level="info" additivity="false">
         <appender-ref ref="stdout" />
    </logger>

    <logger name="ch.qos.logback" level="error" additivity="false">
        <appender-ref ref="stdout" />
    </logger>

    <logger name="org.whispersystems" level="${LOG_LEVEL}" additivity="false">
        <appender-ref ref="stdout" />
    </logger>

    <logger name="org.signal" level="${LOG_LEVEL}" additivity="false">
        <appender-ref ref="stdout" />
    </logger>
</configuration>