<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] [%logger{24}] %-5level| %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />

    </root>

    <root level="ERROR">
        <appender-ref ref="STDOUT" />
    </root>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <root level="TRACE">
        <appender-ref ref="STDOUT" />
    </root>

    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="info.signalboost"
            level="ERROR"
            additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
</configuration>