nextcloud:
  hosts:
    {{ IP ADDRESS OF YOUR REMOTE HOST }}
  vars:
    ansible_user: {{ YOUR USERNAME }}
    ansible_ssh_private_key_file: {{ PATH TO YOUR SSH PRIVATE KEY }}
    ansible_ssh_common_args: '-o IdentitiesOnly=yes'
    admins:
      - name: {{ USERNAME OF AN ADMIN }}
        ssh_key: {{ SSH PUBKEY OF AN ADMIN }}
      - name: {{ USERNAME OF ANOTHER ADMIN }}
        ssh_key: {{ SSH PUBKEY OF ANOTHER ADMIN }}
